@charset "utf-8";	
html, body, div, span,
h1, h2, h3, h4, h5, h6, hr, p, pre,
a, address, img, small,  strong, sub, sup, u, i, 
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,table, caption, tbody,
 tfoot, thead, tr, th, td, figure, picture, embed {
	margin: 0;
	padding: 0;
	font-family: 'Century Gothic', sans-serif;
	vertical-align: baseline;
	border: 0;
	outline: none;

}
body {
	background-image: url('../midia/img/fundo.jpg');
	background-repeat: no-repeat;
	background-position: center;	
}
img, picture, video, embed, figure {
	max-width: 100%;
}
h1{
	font-size: 2em;
	color: #000;
	font-family: 'Century Gothic', sans-serif;	
}
h2{
	color: #fff;	
	font-family: 'Century Gothic', sans-serif;
	margin-top: 90px;
	font-size: 2em;
}
h3{
	color: #fff;	
	font-family: 'Century Gothic', sans-serif;
	font-size: 20px;
}
/*.clearfix usado para adicionar um espaço vazio antes e depois dos elementos
  evitando que os floats se aglomerem.
*/
.clearfix:before, .clearfix:after {
    content: " "; 
    display: table; 
}
.clearfix:after {
    clear: both;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
.logo{
	width: 380px;
	height: 200px;
	float: left;
	display: block;	
	background-image: url('../midia/img/logo-novo.png');
	background-repeat: no-repeat;
	background-position: left;
}

#bloco-central{
	width: 70%;
	height: auto;
	display: block;
	background-color: #fff;	
	margin: 0 auto;
	margin-top: 110px;
	padding: 15px 15px;
}
video{
	width: 100%;
	height: auto;
}

@media screen and (max-width: 800px){
	#bloco-central{
		width: 90%;
	}
}

