@charset "utf-8";	
html, body, div, span,
h1, h2, h3, h4, h5, h6, hr, p, pre,
a, address, img, small,  strong, sub, sup, u, i, 
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,table, caption, tbody,
 tfoot, thead, tr, th, td, figure, picture, embed {
	margin: 0;
	padding: 0;
	font-family: 'Century Gothic', sans-serif;
	background: transparent;
	vertical-align: baseline;
	border: 0;
	outline: none;

}
body {
	background-image: url(../midia/img/fundo.jpg);
	background-repeat: no-repeat;
	background-position: center;	
}

#mensagem{
	width: 400px;
	height: 200px;
	background: #fff;
	border: solid 10px #2980b9;
	padding: 20px 20px 20px 20px;	
	margin: 0 auto;
	margin-top: 210px;
	font-size: 20px;
}

