@charset "utf-8";	
html, body, div, span,
h1, h2, h3, h4, h5, h6, hr, p, pre,
a, address, img, small,  strong, sub, sup, u, i, 
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,table, caption, tbody,
 tfoot, thead, tr, th, td, figure, picture, embed {
	margin: 0;
	padding: 0;
	font-family: 'Century Gothic', sans-serif;
	background: transparent;
	vertical-align: baseline;
	border: 0;
	outline: none;

}
img, picture, video, embed, figure {
	max-width: 100%;
}
h1{
	font-size: 2em;
	color: #fff;
	text-align: justify;
	font-family: 'Century Gothic', sans-serif;	
}
h2{
	color: #fff;	
	font-family: 'Century Gothic', sans-serif;
	margin-top: 90px;
	font-size: 2em;
}
h3{
	color: #fff;	
	font-family: 'Century Gothic', sans-serif;
	font-size: 20px;
}
/*.clearfix usado para adicionar um espaço vazio antes e depois dos elementos
  evitando que os floats se aglomerem.
*/
.clearfix:before, .clearfix:after {
    content: " "; 
    display: table; 
}
.clearfix:after {
    clear: both;
}

section{
	width: 100%;
	height: 100%;/*665px*/
}
header+section{
	padding-top: 80px; 
 }
#home{
	background: #ebebeb;	
}
.seta{
	z-index: 9999;
	position: absolute;
	bottom: 0; /* 100px/665px = 0,1503759398496241*/	
}
section{
	clear: both;
	height: auto;	
}
/*---------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------sessao serviços-----------------------------------------------------------*/
#serv{
	background-color: #eb8921;
	height: auto;
	display: inline-block;
	text-align: center;
}
.bloco1, .bloco2{display: block; min-width: 100%;}
.bloco1, .bloco2, ul li {display: inline-block; list-style: none;} 


@media screen and (min-width: 1024px){
	#serv{height: 700px;}
}

#cadastro, #agendar, #consulta, #paciente, #duvidas, #fale, #tabela, #tipos{
	width: 200px;
	height: 210px;	
	display: block;
	margin-left: 40px;
	margin-top: 30px;
	float: left;

}
#duvidas, #fale, #tabela, #tipos{
	padding-top: 20px;	
}


.janelamodal{
	position: fixed;
	font-family: 'Century Gothic', sans-serif;
	font-size: 17px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
	z-index: 999999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
			
.janelamodal:target{
	opacity: 1;
	pointer-events: auto;
}
			
.janelamodal  div{
	width: 95%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	padding: 50px 20px 15px 20px;
	background-color: #FF9900;
	background-color:-moz-linear-gradient(#000.red);
	background-color:-webkit-linear-gradient(#000.red);
	background-color:-o-linear-gradient(#000.red);
}

.texto{
	width: 50%;
	text-align: justify;
	font-family: 'Century Gothic', sans-serif;
	margin: 0 auto;
	margin-top: 150px;
	color: #fff;
	font-size: 24px;	
}

@media screen and (max-width: 480px){
	.texto{
		width: 70%;
		margin-top: 10px;
		font-size: 16px;
	}
}
.fechar{
	background-color: none;
	font-size: 30px;
	color: #fff;
	line-height: 25px;
	position: absolute;
	right: 60px;
	text-align: center;
	top: 10px;
	width: 30px;
	height: 30px;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	
}
.fechar:hover{
	background-color: #fff;
	color:#FF9900;
	-webkit-transition-duration: .60s;
	border-radius: 50%;
}

		
/*------------------------------------------------sessao Desenvolvedores---------------------------------------------------*/
#desen{
	background-color: #53ccc0;	
	height: auto;
	display: inline-block;
	
}
@media screen and (min-width: 1024px){
#desen{
	height: 665px;
}
}
@media screen and (min-width: 1024px){
#bruno, #fernanda, #gabriela, #rafaela, #samuel-r, #samuel-p{
	padding-top: 110px;
	
}
}
#bruno, #fernanda, #gabriela, #rafaela, #samuel-r, #samuel-p{
	
	width: 240px;
	height: 150px;
	display: block;	
	margin-left: 70px;
	float: left;
	
	
}
@media screen and (max-width: 640px){
#bruno, #fernanda, #gabriela, #rafaela, #samuel-r, #samuel-p{
	margin-left: 10px;
	font-size: 26px;
}
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #fff;
	}
@media screen and (min-width: 1280px){
#bruno, #fernanda, #gabriela, #rafaela, #samuel-r, #samuel-p{
	width: 300px;
	height: 150px;
		
}
.avatar{
	width: 150px;
	height: 150px;	
}
}
@media screen and (min-width: 1700px){
#bruno, #fernanda, #gabriela, #rafaela, #samuel-r, #samuel-p{
	width: 400px;
	height: 150px;
}
}
@media screen and (min-width: 1920px){
#bruno, #fernanda, #gabriela, #rafaela, #samuel-r, #samuel-p{
	width: 500px;
	height: 150px;
}

}
@media screen and (min-width: 1280px){
#bruno, #fernanda, #gabriela, #rafaela, #samuel-r, #samuel-p{
	margin-right: 50px;
}
}
.bruno{
	border-radius: 50%;	
}
.feeh{
	background-image: url(../midia/img/fernanda.png);
	border-radius: 50%;	
}
.gabi{
	background-image: url(../midia/img/gabi%20(1).png);
	border-radius: 50%;	
}
.rafa{
	background-image: url(../midia/img/rafa.png);
	border-radius: 50%;	
}
.sam-olyver{
	background-image: url(../midia/img/samuel.png);
	border-radius: 50%;	
}
.sam-pereira{
	background-image: url(../midia/img/samuelzinho.png);
	border-radius: 50%; 	
}
.nome_avatar,.funçao_avatar{
	color: #fff;
	font-size: 16px; 
	margin-left: 200px;
	margin-top: -95px;
	float: right;
}

@media screen and (max-width: 500px){
.nome_avatar, .funçao_avatar{
	font-size: 0.65em;	/*16px*/
}
}


/*-------------------------------------------------------Sessao Contato-----------------------------------------*/
#contato{
	background: #000033;
	display: inline-block;
	height: 560px;	
}
#dados-pessoais{
	float: left;
	width: 45%;

}
#dados-mensagem{
	float: right;	
	width: 45%;
}
#formulario{
	width: 80%;
	background: #000033;	
	color: #fff;
	font-family: 'Century Gothic', sans-serif;
	padding: 20px 15px;
	font-size: 18px; /*20px / 16px = 1.25*/
	margin: 0 auto;
	margin-top: 50px;
	padding-top: 10px; 
	}

input{
	background: #000033;
	border: none;
	border-bottom: solid 2px #fff;
	color: #fff;
	font-size: 20px;
	width: 100%;
	padding-top: 20px;
	outline: none;
}
input[type="submit"]{
	background-color: #141490;
	border: none;
	padding: 5px;
	font-size: 14px;
	width: 101%;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 20px;
}
input[type="submit"]:hover {
	background-color: #fff;
	color: #141490;
	border:solid 5px #141490;
	font-weight: bold;
	transition: all ease 2s;
	}
textarea{
	width: 100%;	
	resize: none;
}

@media screen and (max-width: 900px){
	#contato{height: auto}
	#dados-pessoais, #dados-mensagem{width: 100%;}
	input, textarea, input[type="submit"]{width: 100%;}
}

/*----------------------------------------------------rodape---------------------------------------------------------------*/
footer{
	width: 100%;
	height: 85px; /*120px / 768px = 0,15625*/
	background: #ebebeb ;
	background-position: left 0px;
	background-repeat: no-repeat;
	font-family: 'Century Gothic', sans-serif;
	color: #888;		
}
footer p{text-align: center; margin-left: 220px;}

@media screen and (max-width: 984px){
	footer{height: auto;}
	footer p{margin-left: 0; text-align: left;}
}
a{
	color: #999;
	text-decoration: none;	
}
.redes{
	float: right;
	margin-top: 5px;
	margin-right: 10px;	
}
