

/*-------------------------------------------------------Sessao Contato-----------------------------------------*/
#contato{
	background: #000033;
	height: 510px;		
}
@media screen and (max-width: 900px){
#contato{
	height: 750px; 				
}
}
#dados{
	padding: 10px 10px 10px 10px;
	
}
#formulario{
	width: 80%;
	background: #000033;	
	color: #fff;
	font-family: Century Gothic, sans-serif;
	padding: 20px 15px;
	font-size: 18px; /*20px / 16px = 1.25*/
	margin: 0 auto;
	padding-top: 10px; 
	}
@media screen and (min-width: 1669px){
#formulario{
	width: 50%;
}
	
}
input{
	background: #000033;
	border: none;
	border-bottom: solid 2px #fff;
	color: #fff;
	font-size: 20px;
	width: 300px;
	padding-top: 20px;
	outline: none;
}
input[type="submit"]{
	background: #141490;
	border: none;
	padding: 5px;
	font-size: 14px;
	width: 80px;
}
textarea{
	width: 300px;	
}
#dados-pessoais{
	padding: 10px 10px 10px 10px;
	float: left;
}
#dados-mensagem{
	padding: 10px 10px 10px 10px;
	float: right;	
}
@media screen and (max-width: 480px){
#dados-mensagem{
	float: none;	
}
textarea{
	width: 200px;	
}
}

@media screen and (max-width: 450px){
.formulario{
		font-size: 0.875em; /*14px / 16px = 0.875*/	
		margin: 0;
	}
input, #assunto{
	width: 200px;	
}
input[type="submit"]{
	width: 80px;	
}
}
@media screen and (max-width: 1000px){
input, #assunto{
	width: 200px;	
}
input[type="submit"]{
	width: 80px;	
}	
}
/*----------------------------------------------------rodape---------------------------------------------------------------*/
footer{
	width: 100%;
	height: 85px; /*120px / 768px = 0,15625*/
	background: #ebebeb ;
	background-position: left 0px;
	background-repeat: no-repeat;
	font-family: Century Gothic, sans-serif;
	color: #888;
	
		
}
@media screen and( max-width: 640px){
#footer{
	
}
}

@media screen and (max-width: 500px){
footer{
	height: auto;	
}
}
a{
	color: #999;
	text-decoration: none;	
}
.redes{
	float: right;
	margin-top: 5px;
	margin-right: 10px;	
}

	
	

