@charset "utf-8";	
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure, picture, embed {
	margin: 0;
	padding: 0;
	font-family: 62.5%;	
	font-family: Century Gothic, sans-serif;
	background: transparent;
	vertical-align: baseline;
	border: 0;
	outline: none;

}

img, picture, video, embed, figure {
	max-width: 100%;
}
h1{
	font-size: 2em;
	color: #fff;
	text-align: justify;
	font-family: Century Gothic, sans-serif;	
}
h2{
	color: #fff;	
	font-family: Century Gothic, sans-serif;
}
h3{
	color: #fff;	
	font-family: Century Gothic, sans-serif;
	font-size: 20px;
}
/*.clearfix usado para adicionar um espaço vazio antes e depois dos elementos
  evitando que os floats se aglomerem.
*/
.clearfix:before, .clearfix:after {
    content: " "; 
    display: table; 
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

section{
	width: 100%;
	height: 100%;/*665px*/
}
header+section{
	padding-top: 80px; 
 }
#home{
	background: #ebebeb;	
}
.seta{
	z-index: 9999;
	position: absolute;
	bottom: 0; /* 100px/665px = 0,1503759398496241*/	
}
section{
	clear: both;
	height: auto;	
}
/*---------------------------------------------------------------------------------------------------------------*/
header{
	max-width: 100%;
	height: 80px;
	background: #ebebeb;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999999;
}
nav{
	width: 100%;
	display: block;	
	margin-top: 20px;
	
	}
nav li{
	display: inline;	
	}
nav li a{
	color: #000;
	font-size: 1.1875em;/* 19px/16px=1.1875 */		
	padding: 1.66666666666667%; /*20px/ 1200px=0.0166666666666667 */ 
	text-decoration: none;	
}
nav a:hover{
	-webkit-transition-duration: .60s;	
	border-bottom: solid 2px #09F;
	padding-bottom: 5px;
	}
@media screen and (max-width: 665px){/*quebra de linha do menu*/
nav li a{
	font-size: 0.6875em;/*11px/16px= 0.6875*/	
}
}	
/*---------------------------------------checkbox menu nav------------------------------------------------------*/
header input[type="checkbox"] {
  display: none;
  position: absolute;
  left: -9999px;
  opacity: 0; 
}
@media screen and (min-width: 461px){
.fivegeeks{
	display: none;
}
}
@media screen and (max-width: 460px) {
header{
	background-image: url(midia/img/lotus2.png);
	background-repeat: no-repeat;
	background-position: center;		
	}
	
  header .control-nav { /* label icon */
    position: absolute;
    right: 20px;
    top: 30px;
    display: block;
    width: 30px;
    padding: 5px 0;
    border: solid #333;
    border-width: 3px 0;
    z-index: 2;
    cursor: pointer;
  }
header .control-nav:before {
    content: "";
    display: block;
    height: 3px;
    background: #fff;
	color: #fff;
  }
nav li{
	display: block;
	line-height: 35px;
	padding-top: 10px;
}
nav li a{
	font-size: 1em; /*16px/16px = 1 */
}
nav a:hover{
	padding-bottom: 2px;
	background-color: rgba(242,255,255,3);
	color: #000;
	padding: 15px 100px 15px 100px;
	}
header .control-nav-close {
    position: fixed; /* label layer */
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
	
  }
header nav {
    position: fixed;
    top: -30px;
    right: 0;
    bottom: 0;
    width: 250px;
    border-left: 2px solid #09f;
    background: #fff;
    overflow-x: auto;
    z-index: 2;
	display: block;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  
  /* checked nav */
#control-nav {
    display: block;
  }
#control-nav:focus ~ .control-nav {
    border-color: #000;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
  }
#control-nav:focus ~ .control-nav:before {
    background: #000;
  }
#control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
#control-nav:checked ~ nav {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
/*------------------------------------------------fim header---------------------------------------------------------------*/

/*----------------------------------------------seção Banner---------------------------------------------------------------*/

.sequence-theme {
  /* this container is just to ensure the background color stretches all the way across on bigger screens */
  background: #6982be;/*background 01*/
}

#sequence {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1280px;
  background-color: #6982be; /*background 02*/
  background-image: url("../images/bg-sequence.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  color: white;
  font-size: 0.625em;
  position: relative;
  height: 667px;
}
#sequence > .sequence-canvas {
  height: 100%;
  width: 100%;
}
#sequence > .sequence-canvas > li {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: -50%;
}
#sequence > .sequence-canvas > li img {
  height: 96%;
}
#sequence > .sequence-canvas li > * {
  position: absolute;
  /* only cause the left and opacity properties to transition */
  -webkit-transition-property: left, opacity;
  -moz-transition-property: left, opacity;
  -ms-transition-property: left, opacity;
  -o-transition-property: left, opacity;
  transition-property: left, opacity;
}
.sequence-next,
.sequence-prev {
  color: white;
  cursor: pointer;
  display: none;
  font-weight: bold;
  padding: 10px 15px;
  position: absolute;
  top: 50%;
  z-index: 1000;
  height: 75px;
  margin-top: -47.5px;
}
.sequence-pause {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
}
.sequence-paused {
  opacity: 0.3;
}
.sequence-prev {
  left: 3%;
}
.sequence-next {
  right: 3%;
}
.sequence-prev img,
.sequence-next img {
  height: 100%;
  width: auto;
}
#sequence-preloader {
  background: #d9d9d9;
}
.sequence-pagination {
  bottom: 1%;
  display: none;
  right: 6%;
  position: absolute;
  z-index: 10;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.sequence-pagination li {
  display: inline-block;
  *display: inline;
  /* Hack for IE7 and below as they don't support inline-block */
  height: 140px;
}
.sequence-pagination li img {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: margin-bottom, opacity;
  -moz-transition-property: margin-bottom, opacity;
  -ms-transition-property: margin-bottom, opacity;
  -o-transition-property: margin-bottom, opacity;
  transition-property: margin-bottom, opacity;
}
.sequence-pagination li img:hover {
  margin-bottom: 4px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.sequence-pagination li.current img {
  opacity: 1;
}
h2 {
  color: #fff;
  font-family: font-family: Century Gothic, sans-serif;
  text-align: justify;
 	
}
h3 {
  font-family: font-family: Century Gothic, sans-serif;
  color: #fff;			
}
.sequence-next,
.sequence-prev {
  position: absolute;
  opacity: 0.6;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.sequence-next:hover,
.sequence-prev:hover {
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.title {
  text-align: justify;		
  font-size: 3.4em;
  left: 65%;
  width: 35%;
  opacity: 0;
  bottom: 1%;
  z-index: 50;
  color: #fff;
}
.animate-in .title {
  left: 30%;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.animate-out .title {
  left: 35%;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.subtitle {
  text-align: justify;
  font-size: 2em;
  left: 35%;
  width: 39%;
  opacity: 0;
  top: 101%;
  color: #fff;
}
.animate-in .subtitle {
  left: 30%;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.animate-out .subtitle {
  left: 65%;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.model {
  left: 30%;
  bottom: -48%;
  opacity: 0;
  position: relative;
  height: auto !important;
  max-height: 568px !important;
  width: 30%;
  min-width: 225px;
  /* prevents the model from shrinking when the browser is resized */
  max-width: 266px;
}
.animate-in .model {
  left: 15%;
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.animate-out .model {
  left: 15%;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@media only screen and (min-width: 992px) {
  #sequence .title {
    width: 42%;
  }
}
@media only screen and (max-width: 838px) {
  #sequence {
    height: 550px;
  }
  #sequence .model {
    max-height: 530px !important;
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  #sequence {
    height: 500px;
  }
  #sequence .title {
    font-size: 2.8em;
  }
  #sequence .subtitle {
    font-size: 1.6em;
  }
  #sequence .sequence-next,
  #sequence .sequence-prev {
    height: 60px;
    margin-top: -40px;
  }
  #sequence .model {
    max-height: 480px !important;
    width: auto;
  }
}
@media only screen and (max-width: 568px) {
  #sequence .model {
    left: 50%;
    min-width: 40%;
    /*prevents the model from shrinking when the browser is resized*/
    width: 40%;
  }
  #sequence .animate-in .model {
    left: 50%;
    margin-left: -20%;
  }
  #sequence .animate-out .model {
    left: 50%;
    margin-left: -20%;
  }
  #sequence .title {
    background: #a1a1a1;
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 100%;
    padding: 4%;
    bottom: -50%;
    width: 100%;
    z-index: 10;
  }
  #sequence .animate-in .title {
    left: 0%;
  }
  #sequence .animate-out .title {
    left: -100%;
  }
  #sequence .subtitle {
   	text-align: justify;
  }
  #sequence .sequence-pagination {
    bottom: 40px;
  }
  #sequence .sequence-pagination li img {
    height: 100px;
  }
  #sequence .subtitle{
	margin-top: -50px;  
  }
}
@media only screen and (max-width: 518px) {
  #sequence {
    height: 450px;
  }
}
@media only screen and (max-width: 468px) {
  #sequence {
    height: 415px;
  }
  #sequence .sequence-pagination {
    opacity: 0;
    visibility: hidden;
  }
}
@media only screen and (max-width: 418px) {
  #sequence {
    height: 375px;
  }
  #sequence .title{
	font-size: 1em ;  /*16px / 16px = 1*/
  }
  #sequence .subtitle{
	font-size: 1em; /* 16px / 16px = 1*/
	margin-top: -50px;  
  }
}
@media only screen and (max-width: 368px) {
  #sequence {
    height: 325px;
  }
  #sequence .title {
    font-size: 0.875em; /* 14px / 16px = 0.875 */
  }
  #sequence .subtitle{
	font-size: 0.875em;	
	margin-top: -40px;  
  }
}
@media only screen and (max-width: 320px) and (orientation: portrait) {
  /*iphone portrait*/
  #sequence {
    height: 320px;
  }
  #sequence .model {
    min-width: 45%;
    width: 45%;
  }
  #sequence .animate-in .model {
    margin-left: -22.5%;
  }
  #sequence .animate-out .model {
    margin-left: -22.5%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) and (orientation: landscape) {
  #sequence {
    height: 260px;
  }
  #sequence .model {
    min-width: 24%;
    width: 24%;
  }
  #sequence .animate-in .model {
    left: 17.5%;
    margin-left: 0;
  }
  #sequence .animate-out .model {
    left: 17.5%;
    margin-left: 0;
  }
  #sequence .sequence-pagination {
    right: 17.5%;
  }
}
/*-----------------------------------------------sessao serviços-----------------------------------------------------------*/
#serv{
	background: #eb8921;
	height: auto;
	display: inline-block;
}
@media screen and (min-width: 1024px){
#serv{
	height: 700px;
}
}
#cadastro, #agendar, #consulta, #paciente, #duvidas, #fale, #tabela, #tipos{
	width: 200px;
	height: 210px;	
	display: block;
	margin-left: 40px;
	margin-top: 30px;
}
@media screen and (min-width: 1500px){
#cadastro, #agendar, #consulta, #paciente, #duvidas, #fale, #tabela, #tipos{
	margin: 0 auto 100px  120px;
}
}
#cadastro, #agendar, #consulta, #paciente{
	float: left;
}
#duvidas, #fale, #tabela, #tipos{
	float: left;
	padding-top: 20px;	
}
@media screen and (max-width: 640px){
#cadastro, #agendar, #consulta, #paciente, #duvidas, #fale, #tabela, #tipos{

	margin: 0 auto 40px;
	
}

#cadastro, #agendar, #consulta, #paciente{
	float: none;
	
	
	
}
#duvidas, #fale, #tabela, #tipos{
	float: none;
	
}
#bloco1, #bloco2{
	width: 80%;
	display: inline-block;
}
}
@media screen and (min-width: 1500px){
#bloco1, #bloco2{	

	}

}
#bloco1, #bloco2{
	float: left;	
	margin-right: 0%;
	margin-left: 11%;
	
}
@media screen and (width: 1024px){
#bloco1, #bloco2{	
	margin-right: 0%;
	margin-left: 0%;
}	
}

.janelamodal{
	position: fixed;
	font-family: Century Gothic;
	font-size: 17px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.2);
	z-index: 999999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
			
.janelamodal:target{
	opacity: 1;
	pointer-events: auto;
}
			
.janelamodal  div{
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	padding: 50px 20px 15px 20px;
	background: #FF9900;
	background:-moz-linear-gradient(#000.red);
	background:-webkit-linear-gradient(#000.red);
	background:-o-linear-gradient(#000.red);
}

.texto{
	text-align: justify;
	font-family: Century Gothic, sans-serif;
	width: 50%;
	margin: 0 auto;
	margin-top: 150px;
	color: #fff;
	font-size: 24px;	
}
@media screen and (max-width: 480px){
.texto{
	width: 70%;
	margin-top: 10px;
	font-size: 16px;
}
}
.fechar{
	background: none;
	font-size: 30px;
	color: #fff;
	line-height: 25px;
	position: absolute;
	right: 60px;
	text-align: center;
	top: 10px;
	width: 30px;
	height: 30px;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	
}
.fechar:hover{
	background: #fff;
	color:#FF9900;
	-webkit-transition-duration: .60s;
	border-radius: 50%;
}
			
/*------------------------------------------------sessao Desenvolvedores---------------------------------------------------*/
#desen{
	background-color: #53ccc0;	
	height: auto;
	display: inline-block;
	
}
@media screen and (min-width: 1024px){
#desen{
	height: 665px;
}
}
@media screen and (min-width: 1024px){
#bruno, #fernanda, #gabriela, #rafaela, #samuel-r, #samuel-p{
	padding-top: 110px;
	
}
}
#bruno, #fernanda, #gabriela, #rafaela, #samuel-r, #samuel-p{
	
	width: 240px;
	height: 150px;
	display: block;	
	margin-left: 70px;
	float: left;
	
	
}
@media screen and (max-width: 640px){
#bruno, #fernanda, #gabriela, #rafaela, #samuel-r, #samuel-p{
	margin-left: 10px;
	font-size: 26px;
}
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #fff;
	}
@media screen and (min-width: 1280px){
#bruno, #fernanda, #gabriela, #rafaela, #samuel-r, #samuel-p{
	width: 300px;
	height: 150px;
		
}
.avatar{
	width: 150px;
	height: 150px;	
}
}
@media screen and (min-width: 1700px){
#bruno, #fernanda, #gabriela, #rafaela, #samuel-r, #samuel-p{
	width: 400px;
	height: 150px;
}
}
@media screen and (min-width: 1920px){
#bruno, #fernanda, #gabriela, #rafaela, #samuel-r, #samuel-p{
	width: 500px;
	height: 150px;
}

}
@media screen and (min-width: 1280px){
#bruno, #fernanda, #gabriela, #rafaela, #samuel-r, #samuel-p{
	margin-right: 50px;
}
}
.bruno{
	background-image: url(../img/bruno.png);
	border-radius: 50%;	
}
.feeh{
	background-image: url(../img/fernanda.png);
	border-radius: 50%;	
}
.gabi{
	background-image: url(../img/gabi%20(1).png);
	border-radius: 50%;	
}
.rafa{
	background-image: url(../img/rafa.png);
	border-radius: 50%;	
}
.sam-olyver{
	background-image: url(../img/samuel.png);
	border-radius: 50%;	
}
.sam-pereira{
	background-image: url(../img/samuelzinho.png);
	border-radius: 50%; 	
}
.nome_avatar,.funçao_avatar{
	color: #fff;
	font-size: 16px; 
	margin-left: 200px;
	margin-top: -95px;
	float: right;
}

@media screen and (max-width: 500px){
.nome_avatar, .funçao_avatar{
	font-size: 0.65em;	/*16px*/
}
}

/*-------------------------------------------------------Sessao Contato-----------------------------------------*/
#contato{
	background: #000033;
	height: 510px;		
}
@media screen and (max-width: 900px){
#contato{
	height: 750px; 				
}
}
#dados{
	padding: 10px 10px 10px 10px;
	
}
#formulario{
	width: 80%;
	background: #000033;	
	color: #fff;
	font-family: Century Gothic, sans-serif;
	padding: 20px 15px;
	font-size: 18px; /*20px / 16px = 1.25*/
	margin: 0 auto;
	padding-top: 10px; 
	}
@media screen and (min-width: 1669px){
#formulario{
	width: 50%;
}
	
}
input{
	background: #000033;
	border: none;
	border-bottom: solid 2px #fff;
	color: #fff;
	font-size: 20px;
	width: 300px;
	padding-top: 20px;
	outline: none;
}
input[type="submit"]{
	background: #141490;
	border: none;
	padding: 5px;
	font-size: 14px;
	width: 80px;
}
textarea{
	width: 300px;	
}
#dados-pessoais{
	padding: 10px 10px 10px 10px;
	float: left;
}
#dados-mensagem{
	padding: 10px 10px 10px 10px;
	float: right;	
}
@media screen and (max-width: 480px){
#dados-mensagem{
	float: none;	
}
textarea{
	width: 200px;	
}
}

@media screen and (max-width: 450px){
.formulario{
		font-size: 0.875em; /*14px / 16px = 0.875*/	
		margin: 0;
	}
input, #assunto{
	width: 200px;	
}
input[type="submit"]{
	width: 80px;	
}
}
@media screen and (max-width: 1000px){
input, #assunto{
	width: 200px;	
}
input[type="submit"]{
	width: 80px;	
}	
}
/*----------------------------------------------------rodape---------------------------------------------------------------*/
footer{
	width: 100%;
	height: 85px; /*120px / 768px = 0,15625*/
	background: #ebebeb ;
	background-position: left 0px;
	background-repeat: no-repeat;
	font-family: Century Gothic, sans-serif;
	color: #888;
	
		
}
@media screen and( max-width: 640px){
#footer{
	
}
}

@media screen and (max-width: 500px){
footer{
	height: auto;	
}
}
a{
	color: #999;
	text-decoration: none;	
}
.redes{
	float: right;
	margin-top: 5px;
	margin-right: 10px;	
}

	
	

